.my-sec
{
height:200px;
background-image:url('hero_1.jpg');
background-repeat:no-repeat;
background-size:cover;
background-attachment:fixed;
}
.my-sec-inner
{
background-color:rgba(255,0,0,0.5);
color:white;
/*opacity:.5;*/

}
.my_sec2
{
height:200px;
background-image:url('hero_2.jpg');
background-repeat:no-repeat;
background-size:cover;
background-color:rgba(255,0,0,0.5);
color:white;
/*opacity:.5;*/
}
.img
{
background-image:url('delight-group-1.jpg');
background-repeat:no-repeat;
background-size:cover;
margin-left:25px;
}
.img1
{
background-image:url('delight-group-2.jpg');
background-repeat:no-repeat;
background-size:cover;
margin-left:20px;
margin-left:25px;
}
.mysec2
{
margin-left:10px;
}
.footer
{
height:160px;
}
.g1
{
background-image:url('delight-group-2.jpg');
}
img
{
height:130px;
width:240px;
}
.d-block
{
height:400px;
}
.our_story
{
height:300px;
width:280px;
}
.smi
{
	list-style-type:none;
}
.smi li
{display:inline-block;
background-color:white;
color:red;
padding:10px 15px;
border-radius:50%;
margin-right:10px;
}
.smi li a
{
color:red;
}
 